.monday-article img {
  width: 100px;
}

.monday-article {
  text-align: justify;
}

.container-tches {
  margin-top: 50px;
  background: #12afec;
  border-radius: 10px;
  margin-bottom: 50px;
}

.container-tches h3 {
  padding: 30px;
  color: #fff;
  font-weight: 900;
  font-size: 37px;
}

.container-tches p { color: #000; }

/*CARD BOOTSTRAP4*/
.card {
  padding: 5px;
  margin: 5px;
}

.card img { width: 200px; }
.card p { font-size: 12px; }

.card h5 {
  background-color: #12afec;
  color: #FFF;
  border-radius: 10px;
}

.card-group { background-color: rgba(26, 23, 23, 0.911); }

/* footer */
.container-footer { 
  display: flex;
  flex-direction: row;
  padding: 0 0 0 30px;
}

.container-footer a { font-family: monospace}
.container-footer a:hover { color: #6ae920; }
.container-footer a:active { color: rgba(74, 236, 10, 0.5); }
.container-footer ul { padding: 10px; }
.container-footer ul li { list-style-type: none; }

@media screen and (min-width: 200px) and ( max-width: 775px ) {
  .container-footer {
    display: flex;
    flex-direction: column;
  }
}