@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding: 25px;
  font-weight: 900;
  border-left: 3px solid #12afec;
  border-bottom: 5px solid #444;
}

h1:hover {
  color: #444;
}

.container {
  background: #c003d1;
  color: #FFF;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
  margin: 0 auto;
}

.nav-bar ul {
  display: grid;
  grid-template-columns: auto auto auto;
 /* text-decoration: none;*/
}

.nav-bar ul li {
  list-style: none;
}

.nav-bar ul li:hover {
  list-style: none;
  color: #12afec;
  background: #444;
}

.container p {
  padding: 10px;
  border-radius: 100px;
  width: 49px;
  height: 70px;
  color: #000;
  background: #fff;
}

/*STYLE MAIN*/
.container-sm section {
  text-align: center;
  margin-top: 90px;
}

.first-article h2 {
  font-weight: 900;
}

.first-article a {
  color: #12afec;
  text-decoration: none;
}

.first-article a:hover {
  color: #c003d1;
  text-decoration: none;
}

.first-article p {
  margin-top: 70px;
  color: #000;
  border: 1px dotted #c003d1;
  
}

@media screen and (min-width: 360px) and ( max-width: 775px ) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    display: grid;
    grid-template-columns: auto;
  }
  .container h1 {
    text-align: center;
  }
}
